body {
    background-color: #0f172a;
    color: white;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
}

input {
    display: block;
    width: 400px;
    padding: 12px;
    margin: 30px auto 15px;
    border-radius: 8px;
    border: 1px solid #334155;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.result {
    width: 400px;
    max-width: 400px;
    margin: 15px auto;
    padding: 8px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #1e293b;
    font-size: 14px;
}

a {
    position: absolute;
    top: 350px;
    left: 200px;
}
